<div class="container">
  <div class="navbar-lewagon">
    <%= image_tag "logo.png", alt: "Le Wagon", width: 150, height: 40 %>
    <div class="list_button">
      <p class="mb-0 align-self-center"><%= link_to "My Lists", lists_path%></p>
      <p class="mb-0 align-self-center"><%= link_to "New list", new_list_path%></p>
    </div>
  </div>

  <div class="banner-list" style="position: relative;">
  <%= cl_image_tag @list.photo.key, alt: "@list image", class: 'anthing_you_want', style: "position: absolute; top: 0; left: 0; z-index: -1; width: 100%; height: 100%;" %>
  <div style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)); height: 100%;">
    <h2 class="title"><%= @list.name.capitalize %></h2>
  </div>
</div>

  <div class="navbar-lewagon">
    <h3><%= @list.name.capitalize %> movie list</h3>
    <%= link_to "Add a movie",  new_list_bookmark_path(@list), class: "btn btn-dark" %>
  </div>

  <h2>Movies</h2>
  <% if !@list.bookmarks.empty? %>
  <div class="grid">
    <% @list.bookmarks.each do |bookmark| %>
      <div class="card-trip">
        <%= image_tag bookmark.movie.poster_url, alt: "movie image", class: 'anthing_you_want' %>
      <div class="card-trip-infos">
          <div class="movie-description">
              <h2><%= bookmark.movie.title %></h2>
              <p><%= bookmark.movie.overview %></p>
              <p><%= bookmark.comment %></p>
          </div>
              <h2 class="card-trip-pricing"><%= link_to "Delete", bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></h2>
        </div>
      </div>
      </div>
    <% end %>
  <% end %>
</div>
